@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Arial, Helvetica, sans-serif;
  }
}
p {
  font-size: 18px;
  margin-bottom: 15px;
}

h2 {
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 20px;
}

h3 {
  font-size: 27px;
  margin-bottom: 18px;
  margin-top: 18px;
}

h4 {
  font-size: 20px;
  margin-bottom: 15px;
  margin-top: 15px;
}
.dropdown {
  display: inline-block;
}

.dropdown1 {
  display: flex;
  /* flex-direction: ; */
}

.dropdown-content {
  display: none;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  background-color: #f9f9f9;
  min-width: 120px;
  max-width: 80% !important;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content1 {
  display: none;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown1:hover .dropdown-content1 {
  display: block;
}

.is-sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  box-shadow: 0 2px 24px 0 rgb(0 0 0 / 15%);
  background-color: #ffffff !important;
  animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
  padding-top: 0px;
  padding-bottom: 0px;
}